@model Order

@{
	ViewData["Title"] = "سبد خرید";
}

@section DiscountBox {
	@if (ViewBag.Discount > 0)
	{
		<partial name="_DiscountBox" model="@ViewBag.Discount" />
	}
}

@if (Model != null)
{
	<h1 style="display:inline;">سبد خرید</h1>
	<a class="btn btn-lg btn-primary btn-gomenu" asp-controller="Home" asp-action="ViewMenu">مشاهده منو</a>

	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th>نام غذا</th>
				<th>تعداد</th>
				<th>قیمت</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.OrderDetails)
			{
				<tr>
					<td>@item.Food.Name</td>
					<td>@item.Quantity</td>
					<td>@(item.Quantity * item.Price)</td>
					<td>
						<a asp-action="RemoveCart" asp-route-detailId="@item.Id">حذف</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<h4>جمع کل : @(ViewBag.FinalPrice1)</h4>
	<h4>مبلغ پرداختی : @(ViewBag.FinalPrice2)</h4>
	<p>
		<a class="btn-pay" asp-action="Payment1" asp-route-orderId="@Model.Id">پرداخت</a>
	</p>
}
else
{
	<div class="alert alert-danger"> خالی است</div>
	<div style="text-align: center;">
		<a class="btn btn-lg btn-primary" asp-controller="Home" asp-action="ViewMenu">مشاهده منو</a>
	</div>

}